/* Réinitialiser les styles par défaut du navigateur */
body, figure, h1, h2, h3, p, img, ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Appliquer une police de caractères globale */
body {
  font-family: Arial, sans-serif;
}

/* Appliquer un arrière-plan et une couleur de texte pour le header */
header {
  background-color: #F40;
  color: #FFF;
  padding: 10px;
}

/* Centrer le logo dans le header */
nav {
  display: flex;
  justify-content: center;
}

/* Styler les liens du menu de navigation */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 5px 10px;
}

/* Styler les liens du menu de navigation au survol */
nav ul li a:hover {
  background-color: #FFF;
  color: #F40;
  border-radius: 3px;
}

/* Appliquer un espacement entre les éléments du menu de navigation */
nav ul li:not(:last-child) {
  margin-right: 15px;
}

/*carte*/
/* CSS pour le conteneur des boutons */
#toutes, #classique, #nouveau, #vegan {
  text-align: center;
  margin-top: 20px;
}

/* CSS pour les boutons */
button {
  background-color: #f8f8f8;
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

/* CSS pour les éléments de liste */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ccc;
}

li:not(:first-child) {
  border: none; /* Supprimer la bordure pour tous les éléments li, sauf le premier */
}

li h2, li h3, li p {
  margin: 0;
  padding: 0;
}

/* CSS pour le bouton Commander */
.commander {
  background-color: #ffcc00;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Ne pas encadrer le texte dans la barre de navigation */
nav ul li:first-child a {
  border: none;
}