/* Réinitialiser les styles par défaut du navigateur */
/*Responcive*/
/* Media query pour la navbar responsive */
body, figure, h1, h2, h3, p, img, ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Appliquer une police de caractères globale */
body {
  font-family: Arial, sans-serif;
}

/* Appliquer un arrière-plan et une couleur de texte pour le header */
header {
  background-color:rgb(14, 14, 11);
  color: rgb(235, 235, 235);
  padding: 10px;
}

/* Style de base pour la navbar */
nav {
  background-color: #000; /* Couleur de fond de la navbar */
  overflow: hidden; /* Pour gérer les éléments qui débordent de la navbar */
  display: inline-block;
}

/* Style pour les liens de la navbar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block; /* Pour que les liens prennent toute la largeur de la navbar */
  color: #fff; /* Couleur du texte des liens */
  text-align: center; /* Pour centrer le texte dans les liens */
  margin: 14px 14px;
  padding: 14px 20px; /* Espacement du texte par rapport aux bords de la navbar */
  text-decoration: none; /* Pour enlever la décoration par défaut des liens */
  transition: color 0.3s; /* Animation de transition pour la couleur du texte */
}

/* Style pour les liens actifs de la navbar */
nav a.active {
  background-color: #333; /* Couleur de fond pour les liens actifs */
}

/* Style pour les liens au survol de la souris */
nav a:hover {
  color: #ed1c24; /* Couleur du texte au survol de la souris */
}

/*carte*/
/* Centrer les boutons des catégories au milieu du site */
.button {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajouter une marge en haut pour l'espace */
}
/* Styliser les boutons de catégorie */
button {
  background-color: rgb(34, 16, 16); /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte en blanc */
  margin: 30px;
  padding: 10px 20px; /* Espacement intérieur du bouton */
  margin-right: 30px; /* Marge droite entre les boutons */
  border: none; /* Supprimer la bordure */
  cursor: pointer; /* Curseur en forme de main au survol */
}
/* Styliser le bouton de commande */
.commander {
  background-color: black; /* Couleur de fond noire */
  color: #fff; /* Couleur du texte en blanc */
}

/* Styliser les boutons de catégorie au survol */
button:hover {
  background-color: red; /* Couleur de fond rouge au survol */
}

/* Aligner les articles en ligne de 3 */
.pizza ul {
  display: flex; /* Utiliser le modèle de boîte flexible pour aligner les articles */
  flex-wrap: wrap; /* Enrouler les articles sur plusieurs lignes si nécessaire */
  list-style-type: none; /* Supprimer les puces de liste */
  padding: 0; /* Supprimer le remplissage par défaut */
}

/* Styliser les articles */
li {
  flex-basis: 33.33%; /* Définir la largeur de base à 33.33% pour afficher 3 articles par ligne */
  padding: 20px; /* Espacement intérieur des articles */
  box-sizing: border-box; /* Inclure la bordure et le remplissage dans la largeur et la hauteur des articles */
}

/* Styliser les titres d'article */
h3 {
  margin: 0 0 10px; /* Supprimer la marge inférieure par défaut et ajouter une marge de 10px en bas */
}

/* Styliser les descriptions d'article */
p {
  margin: 0; /* Supprimer la marge par défaut */
}

/* Styliser les boutons de commande d'article */
.commander {
  background-color: black; /* Couleur de fond noire */
  color: #fff; /* Couleur du texte en blanc */
  padding: 5px 10px; /* Espacement intérieur du bouton */
  margin-top: 10px; /* Marge supérieure entre le texte et le bouton */
}
/* Login*/
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

form {
    width: 300px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #008CBA;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #007A99;
}

.password-toggle {
    position: relative;
}

.password-toggle input[type="password"] {
    padding-right: 40px;
}

.password-toggle .toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #008CBA;
}

.password-toggle .toggle-btn:hover {
    color: #007A99;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(236, 236, 231);
}

form {
  width: 300px;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

form input[type="submit"] {
  background-color: #008CBA;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #007A99;
}

.password-toggle {
  position: relative;
}

.password-toggle input[type="password"] {
  padding-right: 40px;
}

.password-toggle .toggle-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #008CBA;
}

.password-toggle .toggle-btn:hover {
  color: #007A99;
}

/* Style CSS pour la mise en page des avis */
.avis-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.note {
  font-weight: bold;
  margin-bottom: 5px;
}

.commentaire {
  margin-bottom: 10px;
}

.options {
  display: flex;
  justify-content: flex-end;
}

.options a {
  margin-left: 10px;
}

/* Style CSS pour le formulaire d'avis */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  resize: vertical;
}

input[type="submit"] {
  margin-top: 10px;
}

/* CSS pour centrer l'image d'avatar au milieu du site sur la page de compte uniquement */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.avatar-input {
  margin-bottom: 20px;
}

.avatar-input input[type="file"] {
  display: none;
}

.avatar-input label {
  padding: 10px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  border: none;
  border-radius: 50%; /* Utilisation d'un border-radius de 50% pour créer un cadre rond */
  width: 150px; /* Largeur fixe pour l'image d'avatar */
  height: 150px; /* Hauteur fixe pour l'image d'avatar */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Pour que l'image soit coupée en cercle */
}

.avatar-input label:hover {
  background-color: #e0e0e0;
}

.avatar-preview {
  margin-bottom: 20px;
}

.avatar-preview img {
  max-width: 100%;
  border-radius: 50%; /* Utilisation d'un border-radius de 50% pour créer un cadre rond */
}

.logout-btn {
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
/*Panier*/
/* Style pour la table du panier */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Style pour le bouton de suppression */
.supprimer {
  background-color: #f44336;
  color: #fff;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.supprimer:hover {
  background-color: #d32f2f;
}

/* Style pour le bouton de confirmation de commande */
#btnCommander {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#btnCommander:hover {
  background-color: #388e3c;
}

/*index*/
/*Responcive*/
/* Media query pour la navbar responsive */
@media screen and (max-width: 1280px) {
/* Mise en page du contenu principal */
main {
  padding: 20px;
}

/* Ajout de styles spécifiques pour les pages incluses */
.main-content {
  margin-bottom: 20px; /* Ajout d'une marge en bas pour l'espace */
}

.footer {
  text-align: center;
  background-color: #F8B195;
  padding: 10px;
  color: #fff;
}
/*COMPTE*/
/* Styles pour la page de compte */
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.container p {
  font-size: 24px;
  font-weight: bold;
}
}
/*Engagement/*
/* Styles pour la page d'engagements */
/*Responcive*/
/* Media query pour la navbar responsive */
@media screen and (max-width: 1280px) {
body {
  font-family: Arial, sans-serif;
}


h1 {
  color:rgb(85, 76, 76);
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.4;
}
}
/* Media query pour une mise en page responsive */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  main {
    padding: 10px;
  }
}
/*Responcive*/
/* Media query pour la navbar responsive */
@media screen and (max-width: 1280px) {
  .nav-links {
      position: absolute;
      background-color: #333;
      height: 100vh;
      width: 100%;
      top: 80px;
      left: -100%;
      transition: 0.5s;
      z-index: 1;
  }

  .nav-links li {
      display: block;
      margin: 50px 0;
      line-height: 40px;
  }

  .nav-links li a {
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
  }

  .menu-toggle {
      position: absolute;
      top: 1.2rem;
      right: 1.5rem;
      cursor: pointer;
      z-index: 2;
  }

  .menu-hamburger {
      width: 35px;
      height: 35px;
  }

  .nav-links.mobile-menu {
      left: 0;
  }
}
/* Masquer le menu hamburger sur grand écran */
@media screen and (min-width: 872px) {
  .menu-hamburger {
    display: none;
  }
}
/*index*/